/* ~/.config/matugen/templates/nwg-drawer-colors.css */

@define-color surface {{colors.surface.default.hex}};
@define-color on_surface {{colors.on_surface.default.hex}};
@define-color surface_container_high {{colors.surface_container_high.default.hex}};
@define-color primary {{colors.primary.default.hex}};
@define-color on_primary {{colors.on_primary.default.hex}};
@define-color secondary_container {{colors.secondary_container.default.hex}};
@define-color on_secondary_container {{colors.on_secondary_container.default.hex}};
@define-color outline {{colors.outline.default.hex}};
@define-color on_surface_variant {{colors.on_surface_variant.default.hex}};
