/* Wofi 颜色定义 - 默认深色主题 */

@define-color surface #11111b;
@define-color on_surface #cdd6f4;
@define-color surface_container_high #313244;
@define-color primary #89b4fa;
@define-color on_primary #1e1e2e;
@define-color secondary_container #313244;
@define-color on_secondary_container #a6e3a1;
@define-color outline #6c7086;
