// 布局配置
// Layout configuration

layout {
    gaps 5

    center-focused-column "never"

    // 在全屏 / 半屏之间切换
    preset-column-widths {
        proportion 0.5
        proportion 1.0
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 2
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    border {
        off
        width 1
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    shadow {
        on
        softness 20
        spread 10
        offset x=0 y=0
        color "#0007"
    }

    struts {
        left -2
        right -2
        top -2
        bottom -2
    }

    blur {
        on
        passes 2 // number of times to apply the blur effect
        radius 4 // radius of the blur effect
        noise 0.1//add grain to the blur
    }
}

